---
stylesheet: "scss"
---
@import url(webfont.css);

body {
	font-family: "Karla", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #333;
	margin:0px;
	padding:0px;
	background:rgb(51,163,255);

	header {
		text-align:center;
		font-weight:bold;
		line-height:80px;
		font-size:60px;
		height:80px;
		letter-spacing: -6px;
		padding:40px 0px;
		color:#FFF;
		text-shadow:1px 1px 0px #555;

		@media screen and (max-width:600px){
			font-size:70px;
			letter-spacing:0px;
		}

		.wrap{
			padding-left:90px;
			padding-right:90px;
			display:inline-block;
			position:relative;
			cursor:pointer;

			a{
				text-decoration:none;
				color:#FFF;
			}

			.lefticon{
				width:80px;
				height:80px;
				background-image:url(../images/muscle/1.png);
				background-position:left center;
				background-size:80px 80px;
				background-repeat:no-repeat;
				position:absolute;
				top:0px;
				left:0px;
			}

			.righticon{
				width:80px;
				height:80px;
				background-image:url(../images/thumb/1.png);
				background-position:left center;
				background-size:80px 80px;
				background-repeat:no-repeat;
				position:absolute;
				top:0px;
				right:0px;
			}

			span.title{
				&:after{
					content:'Famous Workouts!';

					@media screen and (max-width:600px){
						content:'FW!';
					}
				}
			}
		}
	}

	footer{
		text-align:center;
		padding:40px 20px;
		font-size:18px;
		color:#FFF;
		line-height:24px;
		text-shadow:1px 1px 0px #555;

		a{
		    color:#FFF;
		}
	}

	#instructions{
		text-align:center;
		font-size:18px;
		line-height:28px;
		font-weight:bold;
		max-width:700px;
		padding:0px 10px;
		margin:0 auto;
		padding-bottom:40px;
		color:#FFF;
		text-shadow:1px 1px 0px #555;
	}

	#page{
		text-align:center;
		padding:0px 10px;
		max-width:700px;
		margin:0 auto;
		transition:opacity 0.2s;
		opacity:1;

		&.hidden{
			opacity:0;
		}

		#menu{
			padding-bottom:40px;

			button{
				padding: 10px 20px;
				margin: 0px 10px;
				background: transparent;
				border: none;
				color: #FFF;
				font-size: 20px;
				font-weight: bold;
				font-family: "Karla", Helvetica, Arial, sans-serif;
				letter-spacing: -2px;
				text-shadow: 1px 1px 0px #555;
			}
		}

		.loading{
			margin:80px 0px;
			font-size:18px;
			color:#FFF;
			text-shadow: 1px 1px 0px #555;
		}

		.workout_tile{
			display:inline-block;
			margin:0px 5px;
			margin-bottom:10px;
			position:relative;
			cursor:pointer;

			img{
				width:160px;
				float:left;

				@media screen and (max-width:320px){
					width:140px;
				}
			}

			.name{
				position:absolute;
				bottom:0px;
				left:0px;
				right:0px;
				line-height:20px;
				padding:10px 0px;
				font-size:18px;
				background:rgba(0,0,0,0.6);
				color:#FFF;
				font-weight:bold;
				text-shadow:1px 1px 0px #000;
				letter-spacing:-1px;
				border-top:1px solid #000;
			}
		}

		.workout_page_frame{
			.frame_border{
				box-shadow: 0px 0px 36px rgba(0,0,0,0.2), inset 0px 0px 10px rgba(0,0,0,0.4), inset 25px 25px 0px #d4ab13, inset -25px -25px 0px #d4ab13;
				border: 10px solid #EEC015;
				padding:25px;
				display:inline-block;

				@media screen and (max-width:600px){
					box-shadow: 0px 0px 36px rgba(0,0,0,0.2), inset 0px 0px 10px rgba(0,0,0,0.4), inset 15px 15px 0px #d4ab13, inset -15px -15px 0px #d4ab13;
					padding:15px;
				}

				.frame_inset{
					position:relative;
					overflow-y:auto;

					img{
						float:left;

						@media screen and (max-width:600px){
							width:200px;
						}
					}
				}

				.name{
					position:absolute;
					bottom:0px;
					left:0px;
					width:100%;
					text-align:center;
					background:rgba(0,0,0,0.7);
					color:#FFF;
					line-height:30px;
					font-size:24px;
					font-weight:bold;
					text-shadow:1px 1px 0px #000;
					padding-bottom:15px;
					border-top:1px solid #000;
					letter-spacing:-2px;

					&:before{
						content:'GET RIPPED LIKE';
						width:100%;
						display:block;
						font-size:16px;
						line-height:30px;
						margin:10px 0px;
						letter-spacing:4px;

						@media screen and (max-width:600px){
							letter-spacing:2px;
						}
					}
				}
			}

			table {
				margin:40px auto;
				font-size:18px;
				border-spacing:5px;
				text-shadow:1px 1px 0px rgba(0,0,0,0.5);

				tr{
					background:rgba(0,0,0,0.4);

					td{
						color:#FFF;
						padding:10px;
						box-shadow:0px 0px 10px rgba(0,0,0,0.4);
					}
				}
			}

			.heading{
				background:rgba(0,0,0,0.6);
				font-weight:bold;
			}
		}
	}
}
