<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
        {% if page.homepage == true %}
            {{page.title}}
        {% else %}
            {{page.athlete-name}}'s EPIC routine - Famous Workouts!
        {% endif %}

    </title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
  	<header>
  		<div class="wrap">
  			<a href="/">
                <div class="lefticon"></div>
  			    <span class="title"></span>
  			    <div class="righticon"></div>
            </a>
  		</div>
  	</header>
  	<div id="page">
  		{{content}}
  	</div>
  	<footer>
      &copy; <script>document.write(new Date().getFullYear())</script>. Famous Workouts is free & always will be. So get pumped or <a href="http://github.com/nabilfreeman/famous-workouts">view the source code</a>!
  	</footer>

    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      window.ga('create', 'UA-63103394-1', 'auto');
      window.ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="./js/main.js"></script>
    <script src="http://reactjs.github.io/react-magic/magic-loader.js"></script>
  </body>
</html>
